%nav
  %div{:class => 'contain'}
    %ul
      %li
        = link_to 'Blog', '/blog'
      %li
        = link_to 'Portfolio', '/portfolio'
      %li{:class => 'header-logo'}
        = link_to 'JXF', '/'
      %li
        = link_to 'Contact', '/contact'
      %li
        = link_to 'Meta', '/meta'