%nav
  %div{:class => 'contain'}
    %ul
      %li
        = link_to 'blog', '/blog'
      %li
        = link_to 'portfolio', '/portfolio'
      %li{:class => 'header-logo'}
        = link_to 'jxf', '/'
      %li
        = link_to 'services', '/services'
      %li
        = link_to 'meta', '/meta'